<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::common(~{::#content},'Register |')}">
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
	<div id="content">
		<div class="container mt-5 mb-5">
			<div class="row justify-content-center">
				<div class="col-lg-6 mb-4">
					<img class="register-banner" src="img/register_banner.jpg"
						alt="Register Banner">
				</div>
				<div class="col-lg-6">
					<div class="card p-4">
						<div class="card-header text-center">
							<p>Create Your Account</p>

							<th:block th:if="${session.successMsg}">
								<p class="text-success">[[${session.successMsg}]]</p>
								<th:block th:text="${@removeSessionImpl.removeSessionMessage()}"></th:block>
							</th:block>
							<th:block th:if="${session.errorMsg}">
								<p class="text-danger">[[${session.errorMsg}]]</p>
								<th:block th:text="${@removeSessionImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>

						<div class="card-body ">
							<form action="/registeringUser" method="post"
								enctype="multipart/form-data" id="userRegister" novalidate>
								<div class="row mb-3">
									<div class="col">
										<label class="form-label">Full Name</label> <input
											class="form-control" name="name" type="text">
									</div>
									<div class="col">
										<label class="form-label">Mobile Number</label> <input
											class="form-control" name="mobileNumber" type="number">
									</div>
								</div>

								<div class="mb-3">
									<label class="form-label">Email</label> <input
										class="form-control" name="email" type="email">
								</div>

								<div class="row mb-3">
									<div class="col">
										<label class="form-label">Address</label> <input
											class="form-control" name="address" type="text">
									</div>
									<div class="col">
										<label class="form-label">City</label> <input
											class="form-control" name="city" type="text">
									</div>
								</div>

								<div class="row mb-3">
									<div class="col">
										<label class="form-label">State</label> <input
											class="form-control" name="state" type="text">
									</div>
									<div class="col">
										<label class="form-label">Pincode</label> <input
											class="form-control" name="pincode" type="number">
									</div>
								</div>

								<div class="row mb-3">
									<div class="col">
										<label class="form-label">Password</label> <input
											class="form-control" name="password" type="password"
											id="pass">
									</div>
									<div class="col">
										<label class="form-label">Confirm Password</label> <input
											class="form-control" name="confirmPassword" type="password">
									</div>
								</div>

								<div class="mb-3">
									<label class="form-label">Profile Image</label> <input
										class="form-control" name="file" type="file">
								</div>

								<button type="submit" class="btn btn-register col-2 offset-5 text-white">Register</button>
							</form>
						</div>

						<div class="card-footer text-center">
							Ready to <a href="/login" class="text-decoration-none ">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>